<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{user/base :: layout(~{::title}, ~{:: content})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>

<body>
    <div th:fragment="content">

        <div class="forgot-password-box" style="padding: 40px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 box-1">
                        <img width="100%" src="/assets/img/forgot-password.png">
                    </div>
                    <div class="col-md-6">

                        <div class="forgot-password-form">
                            <div class="steps-container mb-5">
                                <div class="step step-1 step-on">1</div>
                                <div><i class="fa-solid fa-angles-right" style="font-size: 18px;"></i></div>
                                <div class="step step-2">2</div>
                                <div><i class="fa-solid fa-angles-right" style="font-size: 18px;"></i></div>
                                <div class="step step-3">3</div>
                            </div>
                            <form id="send-otp-form" action="" style="display: none;">
                                <h3>Forgot Password</h3>
                                <p>Enter your email and we will send you a OTP to reset your password.</p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Email<span class="field-required">*</span></label>
                                        <div class="field">
                                            <div class="field-icon"><i class="fa-regular fa-envelope"></i></div>
                                            <input type="email" class="form-control form-control-sm" id="forgot-email"
                                                name="email" placeholder="Enter your email address"
                                                style="padding-left: 32px;">
                                            <span id="forgot-emailError" class="error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-12">
                                        <button class="btn" style="width: 100%;padding: 8px 0;font-size: 18px;"><span
                                                class="btn-loader" style="display: none;"><i
                                                    class="fa fa-spinner fa-pulse"></i></span>&nbsp;Send
                                            OTP</button>
                                    </div>
                                </div>
                                <p class="float-end mt-2"><a href="/forgot-password"><i
                                            class="fa-solid fa-user-check"></i>&nbsp;Back to Login?</a></p>
                            </form>


                            <form id="verify-otp-form" action="" style="display: none;">
                                <div>
                                    <h3>OTP Verification</h3>
                                    <p>Your 6 Digit code was send to <br><b><span
                                                id="email">dinesh7627000@gmail.com</span></b></p>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="field">
                                            <div class="field-icon"><i class="fa-solid fa-key"></i></div>
                                            <input name="email" id="hidden-email" hidden>
                                            <input type="text" class="form-control form-control-sm" id="otp" name="otp"
                                                placeholder="Enter your 6 Digit OTP" style="padding-left: 32px;"
                                                maxlength="6">
                                            <span id="otpError" class="error"></span>
                                        </div>
                                        <script>
                                            $(document).ready(function () {

                                                $('#forgot-otp').on('input', function () {
                                                    let phoneNumber = $(this).val();
                                                    let sanitizedInput = phoneNumber.replace(/\D/g, '');
                                                    $(this).val(sanitizedInput);
                                                })
                                            });
                                        </script>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="countdown" style="display: none;">
                                            <div id="countdown-number"></div>
                                            <svg>
                                                <circle r="18" cx="20" cy="20"></circle>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-12">
                                        <div>
                                            <p>Didn't receive code?
                                                <button class="resend-otp-btn"><a>Request Again</a></button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-12">
                                        <button class="btn" style="width: 100%;padding: 8px 0;font-size: 18px;">Verify
                                            OTP</button>
                                    </div>
                                </div>
                                <p class="float-end mt-2"><a href="/forgot-password"><i
                                            class="fa-solid fa-user-check"></i>&nbsp;Back to Login?</a></p>
                            </form>
                            <form id="change-password-form" action="">
                                <h3>Forgot Password</h3>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>New Password<span class="field-required">*</span></label>
                                        <div class="field">
                                            <div class="field-icon"><i class="fa-solid fa-lock"></i></div>
                                            <input type="email" class="form-control form-control-sm" id="login-username"
                                                name="username" placeholder="Enter your new password"
                                                style="padding-left: 32px;">
                                            <span id="login-usernameError" class="error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Confirm Password<span class="field-required">*</span></label>
                                        <div class="field">
                                            <div class="field-icon icon-1"><i class="fa-solid fa-lock"></i></div>
                                            <div class="input-group" id="show_hide_password">
                                                <input
                                                    style="border-radius: 4px;padding-right: 41px;padding-left: 32px;"
                                                    class="form-control form-control-sm pass-field" type="password"
                                                    placeholder="Enter confirm password" name="confirmPassword"
                                                    id="confirmPassword">
                                                <div class="input-group-addon">
                                                    <a href="" style="padding: 8px; font-size: smaller;"><i
                                                            class="fa fa-eye-slash" aria-hidden="true"
                                                            style="color: #202c45;"></i></a>
                                                </div>
                                            </div>
                                            <span id="confirmPasswordError" class="error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-12">
                                        <button class="btn" style="width: 100%;padding: 8px 0;font-size: 18px;">Submit
                                        </button>
                                    </div>
                                </div>
                                <p class="float-end mt-2"><a href="/forgot-password"><i
                                            class="fa-solid fa-user-check"></i>&nbsp;Back to Login?</a></p>
                            </form>
                        </div>


                    </div>

                </div>
            </div>
        </div>
        <script>

            $(document).ready(function () {
                $('.step-1').css({
                    'background- color': '#00984a;',
                    'color': '#fff;'
                });
            });

            function countdownStart() {
                var countdownNumberEl = document.getElementById('countdown-number');
                var countdown = 60;
                countdownNumberEl.textContent = countdown;
                var interval = setInterval(function () {
                    countdown = --countdown <= 0 ? 60 : countdown;
                    countdownNumberEl.textContent = countdown;
                    if (countdown <= 0) {
                        clearInterval(interval);
                    }
                }, 1000);
            }
            $('input').focus(function () {
                $(this).removeClass('border-danger');
                var fieldName = $(this).attr('name');
                $('#forgot-' + fieldName + 'Error').text('');
                $('#forgot-' + fieldName + 'Error').css({ 'background-image': 'none' });
            });
            $(document).on('submit', '#send-otp-form', function (event) {
                event.preventDefault();
                $('.btn-loader').show();
                var formData = {
                    email: $('#forgot-email').val()
                }
                $.ajax({
                    type: 'POST',
                    url: '/forgot-password',
                    data: JSON.stringify(formData),
                    contentType: 'application/json',
                    success: function (response) {
                        showToast(response.message, 'bg-success');
                        $('#hidden-email').val(response.data);
                        $('#send-otp-form')[0].reset();
                        $('.btn-loader').hide();
                        $('#countdown').show();
                        $('#send-otp-form').hide();
                        $('#verify-otp-form').show();
                        $('.step-2').addClass('step-on');
                        countdownStart();
                    },
                    error: function (xhr, status, error) {
                        if (xhr.status === 400) {
                            var errorMessage = xhr.responseJSON;
                            var fieldErrors = errorMessage.errors;
                            if (fieldErrors !== null) {
                                $.each(fieldErrors, function (fieldName, errorMessage) {
                                    $('#forgot-' + fieldName + 'Error').css({ 'background-image': 'url("/assets/img/error-info.svg")' });
                                    $('#forgot-' + fieldName + 'Error').text(errorMessage);
                                    $('#forgot-' + fieldName).addClass('border-danger')
                                });
                            }
                            showToast(errorMessage.message, 'bg-danger');
                        } else {
                            const data = JSON.parse(xhr.responseText);
                            showToast(data.message, 'bg-danger');
                        }
                    }
                });
            });
            $('input').focus(function () {
                $(this).removeClass('border-danger');
                var fieldName = $(this).attr('name');
                $('#' + fieldName + 'Error').text('');
                $('#' + fieldName + 'Error').css({ 'background-image': 'none' });
            });
            $(document).on('submit', '#verify-otp-form', function (event) {
                event.preventDefault();
                var formData = {
                    email: $('#hidden-email').val(),
                    otp: $('#otp').val()
                }

                $.ajax({
                    type: 'POST',
                    url: '/verify-otp',
                    data: JSON.stringify(formData),
                    contentType: 'application/json',
                    success: function (response) {
                        showToast(response.message, 'bg-success');
                    },
                    error: function (xhr, status, error) {
                        if (xhr.status === 400) {
                            var errorMessage = xhr.responseJSON;
                            var fieldErrors = errorMessage.errors;
                            if (fieldErrors !== null) {
                                $.each(fieldErrors, function (fieldName, errorMessage) {
                                    $('#' + fieldName + 'Error').css({ 'background-image': 'url("/assets/img/error-info.svg")' });
                                    $('#' + fieldName + 'Error').text(errorMessage);
                                    $('#' + fieldName).addClass('border-danger')
                                });
                            }
                            showToast(errorMessage.message, 'bg-danger');
                        } else {
                            const data = JSON.parse(xhr.responseText);
                            showToast(data.message, 'bg-danger');
                        }
                    }
                })
            });

            $("#show_hide_password a").on('click', function (event) {
                event.preventDefault();
                if ($('#show_hide_password input').attr("type") == "text") {
                    $('#show_hide_password input').attr('type', 'password');
                    $('#show_hide_password i').addClass("fa-eye-slash");
                    $('#show_hide_password i').removeClass("fa-eye");
                } else if ($('#show_hide_password input').attr("type") == "password") {
                    $('#show_hide_password input').attr('type', 'text');
                    $('#show_hide_password i').removeClass("fa-eye-slash");
                    $('#show_hide_password i').addClass("fa-eye");
                }
            });
        </script>

    </div>


    </div>
</body>

</html>