<footer class="text-center" style="background: none;color: black;">
    <div class="mb-2">
        <small>
            © 2024 made with <i class="fa fa-heart" style="color:red"></i> by - <a style="color: black;" target="_blank"
                rel="noopener noreferrer" href="https://azouaoui.netlify.com">
                Dinesh Kumawat
            </a>
        </small>
    </div>
    <div>
        <a href="https://github.com/azouaoui-med" target="_blank">
            <img alt="GitHub followers"
                src="https://img.shields.io/github/followers/azouaoui-med?label=github&style=social" />
        </a>
        <a href="https://twitter.com/azouaoui_med" target="_blank">
            <img alt="Twitter Follow"
                src="https://img.shields.io/twitter/follow/azouaoui_med?label=twitter&style=social" />
        </a>
    </div>
</footer>